@font-face {
  font-family: "OpenSauceOne";
  src: url("fonts/OpenSauceOne-Regular.woff2") format("woff2"),
    url("fonts/OpenSauceOne-Medium.woff2") format("woff2"),
    url("fonts/OpenSauceOne-SemiBold.woff2") format("woff2");
  font-weight: 500, 600, 700;
}
